fastmcp
amadeus
langchain
langchain-openai
langchain-community
langchain-core
langchain-mcp-adapters
langgraph
langgraph-checkpoint-sqlite
aiosqlite
ddgs
watchdog
python-dotenv
geopy
timezonefinder
streamlit